@font-face {
	font-family: 'Open Sans';
	src: url('./FONT/OpenSans-Light.ttf');
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Open Sans';
}

body {
	font-size: 16px;
	background: rgb(240, 237, 237);
}
.stopScroll {
	overflow: hidden;
}
.margint_top {
	height: 3.9375rem;
}
@media screen and (min-width: 650px) {
	.margint_top {
		height: 4.875rem;
	}
}
